.task-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    color: red;
}

.container-general{
    display: flex;
    flex-direction: column;
    max-width: 430px;
}