.task-container{
    width:400px;
    min-height: 30px;
    background-color: #f1ae4f;
    margin:5px 0;
    padding: 6px 10px 6px 15px;
    border-radius: 7px;
    color: #fff;
    display: flex;
    flex-wrap: wrap; 
    font-weight: bold;
    align-items: center; 
}

.task-container:nth-child(3n +1) {
    background-color: #f4ac47;
}
.task-container:nth-child(3n +2) {
    background-color: #edb361;
}
.task-container:nth-child(3n +3) {
    background-color: #f5c27b;
}

.task-container.completed{
    background-color: #f17452;
    text-decoration: line-through;
}

.task-text{
    width: 80%;
    height: 100%;
    font-size:15px;
    display: flex; 
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    
}

.task-icon-container{
    width: 20%;
    font-size: 20px;
    display: flex; 
    justify-content: right;
    cursor: pointer;
    flex-wrap: wrap; 
    color: #fff;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.task-icon-container:hover{
    color:#eb0a44;
}